.section-cake{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding:1rem;
    justify-content: center;
    width: 60%;
    text-align: center;
    font-size: 1,4rem;
}

.card-cake{
    width: 100%;
    margin:10px 0 10px 0px;
}

section{
    margin:1rem;
   
}

.filter{
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid rgb(185, 185, 185);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    letter-spacing: 2px;
}
.author{
    font-weight: bold;
    color:green
}

.content{
    width: 50%;
}

.count-cake{
    font-size: 1rem;
}
.span-cake{
    font-size: 1.5rem;
    color: white;
    border: 1px solid black;
    padding:5px;
    margin-left:10px;
    background-color: green;
}

@media screen and (min-width: 1024px)
{
    .section-cake{
        width: 80%;
        padding:1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding:1rem;
        justify-content: space-evenly;
    }
    
    .card-cake{
        width: 30%;
        margin:1rem;
    }
    
    section{
        margin:1rem;
       
    }
}