.title-content{
    margin-left:1rem ;
    font-size: 2rem;
}

.text{
    font-size: 1rem;
    padding: 1rem;
}

.contact-container{
   margin: 1rem;
}
.col{
    display: flex;
    flex-direction: column;
}
.button-send{
   background-color: black;
}
.button-send:hover{
    background-color: black;
}
@media screen and (min-width: 760px)
{
    
    .contact-container{
        margin: 0 10rem 20rem 10rem;
            
        }
        .title-content{
            margin-left:3rem ;
        }
        
        .text{
            font-size: 2rem;
        }
        
        
        .form-input{
            display: flex;
            justify-content:space-around;
            margin-bottom: 0;
        
        }
        .input{
            width: 300px;
            margin: 1rem;
        }
        .button-send{
            margin-bottom: 15rem;
            margin-top: 0;
        }
}

@media screen and (min-width: 1040px)
{
    
    .contact-container{
        margin: 0 10rem 12rem 10rem;
            
        }
        .title-content{
            margin-left:3rem ;
        }
        
        .text{
            font-size: 2rem;
        }
        
        
        .form-input{
            display: flex;
            justify-content:space-around;
            
        
        }
        .input{
            width: 500px;
        }
}