/* reset pwd */

.form-pwd {
    background-color: white;
         width: 500;
         padding:0.8rem;
         margin: 10rem 2rem;
         display: flex;
         justify-content: center;
         flex-direction: column;
         box-shadow: 10px 10px 10px black;
}

.button-pwd{
    margin: 1rem;
    background-color:black ;
    color: white;
    border-radius: 5%;
    width: auto;
    padding: 1rem;
    cursor: pointer;

}

@media screen and (min-width:760px)
{
    .form-pwd {
        background-color: white;
             width:70%;
             padding:0.8rem;
             margin: 10rem auto;
             display: flex;
             justify-content: center;
             flex-direction: column;
    }
    .button-pwd{
        margin: 1rem;
        background-color:black ;
        color: white;
        border-radius: 5%;
        width: auto;
        padding: 1rem;
        cursor: pointer;
        width: 25%;
    
    }
}

@media screen and (min-width: 1040px)
{
    .form-pwd {
        background-color: white;
        width: 50%;
        padding:0.8rem;
        margin: 10rem auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .button-pwd{
        margin: 1rem;
        background-color:black ;
        color: white;
        border-radius: 5%;
        width: auto;
        padding: 1rem;
        cursor: pointer;
        width: 30%;
    
    }
}