
  html {
    margin:0;
    padding:0;
  }

body {
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x:hidden;
  width:100%;
  background-color: #FFFCF8;
  
}


.title-list-user{
  margin-left: 2rem;
}

.title-cake-admin{
  margin-left: 2rem;
}

.btn-crud{
  background-color: black;
}

.btn-crud:hover{
  background-color: black;
  scale: 1.1;
}

.link-acake{
text-decoration: none;
color: black;
}
